services:

  postgresql-db:
    image: postgres:18
    container_name: focus-post
    restart: unless-stopped
    ports:
      - "5432:5432"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/focus_db
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 3571
      POSTGRES_DB: focus_db
    healthcheck:
      test: ["CMD-SHELL", "pq_isready -U postgres"]
      retries: 3
      timeout: 5s
      interval: 10s
      start_period: 30s

  redis-focus:
    image: redis:latest
    container_name: redis
    restart: always
    ports:
      - "6379:6379"



networks:
  databases-focus:
    name: my-pre-existing-postgres-networking
    external: false


